/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
/*Header Css*/
header {
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 0 350px 0 400px;
  height: 60px;
  width: 100%;
  background-color: #0d261e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 100px;
}
header .logo {
  font-size: 30px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}
.navbar a{
  font-size: 20px;
  margin-left: 35px;  
  color: white;
}
.navbar a:hover{ 
  color: #1a4c3c;
}
/*Hero Css*/
.outer-hero{
  width: 100%;
  height: 600px;
  background-color: #4fc39e;
}
.Inner-hero {
  padding-top: 170px;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
#heading-para{
  font-size: 22px;
  padding-top: 20px;
  text-align: justify;
  color: #0d261e;
}
.image {
  width: 300px;
  height: 300px;
  background-image: url(profile.jfif);
  background-size: cover;
  border-radius: 10%;
  margin-top: 20px;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#heading-hero{
  font-size: 50px;
  font-weight: bolder;
  color: #0d261e;
}
.cv {
  height: 40px;
  width: 150px;
  font-size: 20px;
  font-weight: 700;
  background-color: #0d261e;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
  border: 2px solid white;
}
.cv:hover{
 background-color: white;
 color: #0d261e;
 border: 2px solid #0d261e;
}
/*Blog Css*/
.outer-blog {
  height: 1150px;
  width: 100%;
  background-color: #0d261e;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
  gap:50px;
}
.inner-blog{
  height: 470px;
  width:  350px;
  background-color: white;
  border-radius: 10%;
  border: 2px solid white;
  animation: bounce-in-right 2s both;
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.inner-blog:hover{
  border: 3px solid #4fc39e;
}
.image-blog1{
  width: 300px;
  height: 210px;
  background-image: url(pic1.jpg);
  background-size: cover;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 5%;
}
.image-blog2{
  width: 300px;
  height: 210px;
  background-image: url(pic2.jpg);
  background-size: cover;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 5%;
}
.image-blog3{
  width: 300px;
  height: 210px;
  background-image: url(pic3.jpg);
  background-size: cover;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 5%;
}
.image-blog4{
  width: 300px;
  height: 210px;
  background-image: url(pic4.png);
  background-size: cover;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 5%;
}
.image-blog5{
  width: 300px;
  height: 210px;
  background-image: url(pics5.png);
  background-size: cover;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 5%;
}
.image-blog6{
  width: 300px;
  height: 210px;
  background-image: url(pic6.png);
  background-size: cover;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 5%;
}
.inner-blog h2{
  margin-top: 15px;
  margin-left: 22px;
}
.inner-blog p{
  margin-top: 10px;
  margin-left: 22px;
  margin-right: 22px;
}
.button{
  height: 35px;
  width: 100px;
  font-size: 15px;
  background-color: #0d261e;
  color: white;
  margin-left: 22px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #4fc39e;

}
.button:hover{
  background-color: #4fc39e;
  border: 2px solid #0d261e ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*Footer Css*/
.footer-container{
  height: 200px;
  background-color: #1a4c3c;
  color: white;
  padding-top: 40px;
}
.inner-footer{
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
  gap: 100px;
}
.inner-footer h3 {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.inner-footer ul li {
  list-style: none;
  font-size: 15px;
  padding-top: 12px;
}
.footer-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-button input{
  height: 40px;
  width: 80%;
  padding-left: 6px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 13px;
}
.footer-button button{
  height: 40px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid white;
  font-weight: bold;
  background-color: #0d261e;
  color: white;
  font-size: 12px;
}
/*project Css*/
.project-container{
  height: 800px;
  width: 100%;
}
.project-container h1{
  color: #0d261e;
  padding-top: 150px;
  text-align: center;
}
/*contact Css*/
.contact-container{
  height: 800px;
  width: 100%;
}
.contact-container h1{
  color: #0d261e;
  padding-top: 150px;
  text-align: center;
}
@media only screen and (max-width:1329px){
  .outer-blog {
    height: 1150px;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    gap:40px;
  }
}
@media only screen and (max-width:1248px){
  .Inner-hero {
    padding-top: 180px;
    gap: 50px;
  }
  #heading-para{
    font-size: 20px;
  }
  .image {
    width: 270px;
    height: 270px;
    margin-top: 20px;
  }
  #heading-hero{
    font-size: 45px;
  }
}
@media only screen and (max-width:1209px){
  .outer-blog {
    padding-left: 10px;
    padding-right: 10px;
    gap:10px;
  }
}
@media only screen and (max-width:1154px){
  .inner-footer{
    padding-left: 90px;
    padding-right: 90px;
    gap: 50px;
  }
}
@media only screen and (max-width:1090px){
  .Inner-hero {
    padding-top: 180px;
    gap: 40px;
  }
  #heading-para{
    font-size: 17px;
  }
  .image {
    width: 250px;
    height: 250px;
    margin-top: 20px;
  }
  #heading-hero{
    font-size: 40px;
  }
  .cv {
    height: 35px;
    width: 145px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 9px;
  }
  .outer-blog {
    height: 1600px;
    padding-top: 50px;
    gap:50px;
  }
}
@media only screen and (max-width:994px){
  .inner-footer{
    padding-left: 60px;
    padding-right: 60px;
    gap: 30px;
  }
}
@media only screen and (max-width:944px){
  .outer-hero{
    height: 750px;
  }
  .Inner-hero {
    padding-top: 100px;
    text-align: center;
  }
  #heading-para{
    font-size: 18px; 
  }
  .image {
    width: 250px;
    height: 250px;
  }
  #heading-hero{
    font-size: 43px;
  }
}
@media only screen and (max-width:864px){
  .footer-container{
    height: 200px;
    background-color: #1a4c3c;
    color: white;
    padding-top: 40px;
  }
  .inner-footer{
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
  }
}
@media only screen and (max-width:769px){
  header {
    padding-left: 40px;
    padding-right: 30px;
  }
  header .logo {
    font-size: 25px;
  }
  .navbar a{
    font-size: 18px;
    margin-left: 35px;  
  }
  .outer-blog {
    height: 3180px;
  }
}
@media only screen and (max-width:760px){
  .footer-container{
    height: 200px;
    background-color: #1a4c3c;
    color: white;
    padding-top: 40px;
  }
  .footer-button input{
    height: 30px;
    width: 70%;
    border-radius: 4px;
    font-size: 12px;
  }
  .footer-button button{
    height: 30px;
    width: 30%;
    border-radius: 4px;
    font-size: 11px;
  }
  .inner-footer h3 {
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .inner-footer ul li {
    font-size: 14px;
    padding-top: 8px;
  }
}
@media only screen and (max-width:760px){
  .footer-container{
    padding-top: 30px;
  }
}
@media only screen and (max-width:700px){
  .outer-hero{
    height: 680px;
  }
  .Inner-hero {
    padding-top: 85px;
  }
  #heading-para{
    font-size: 16px; 
  }
  .image {
    width: 220px;
    height: 220px;
  }
  #heading-hero{
    font-size: 35px;
  }
  .cv {
    height: 33px;
    width: 125px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
  }
}
@media only screen and (max-width:616px){
  header {
    padding-left: 30px;
    padding-right: 20px;
  }
  header .logo {
    font-size: 22px;
  }
  .navbar a{
    font-size: 15px;
    margin-left: 30px;  
  }
  .outer-hero{
    height: 330px;
  }
  #heading-para{
    font-size: 12px; 
  }
  .image {
    display: none;
  }
  #heading-hero{
    font-size: 28px;
  }
  .cv {
    height: 30px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
  }
  .outer-blog {
    height: 2800px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    gap:10px;
  }
  .inner-blog{
    height: 420px;
    width:  310px;
  }
  .image-blog1{
    width: 260px;
    height: 170px;
  }
  .image-blog2{
    width: 260px;
    height: 170px;
  }
  .image-blog3{
    width: 260px;
    height: 170px;
  }
  .image-blog4{
    width: 260px;
    height: 170px;
  }
  .image-blog5{
    width: 260px;
    height: 170px;
  }
  .image-blog6{
    width: 260px;
    height: 170px;
  }
  .button{
    height: 25px;
    width: 90px;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 15px;
    border-radius: 8px;
  }  
  .inner-blog h2{
    font-size: 19px;
  }
  .inner-blog p{
    font-size: 14px;
  }
}
@media only screen and (max-width:462px){
  header {
    padding-left: 20px;
    padding-right: 18px;
  }
  header .logo {
    font-size: 16px;
  }
  .navbar a{
    font-size: 11px;
    margin-left: 17px;  
  }
  .outer-hero{
    height: 275px;
  }
  #heading-para{
    font-size: 8px; 
  }
  #heading-hero{
    font-size: 23px;
  }
  .cv {
    height: 22px;
    width: 85px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 6px;
  }
  .outer-blog {
    height: 2100px;
    padding-top: 18px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    gap:1px;
  }
  .inner-blog{
    height: 320px;
    width:  260px;
  }
  .image-blog1{
    width: 210px;
    height: 120px;
  }
  .image-blog2{
    width: 210px;
    height: 120px;
  }
  .image-blog3{
    width: 210px;
    height: 120px;
  }
  .image-blog4{
    width: 210px;
    height: 120px;
  }
  .image-blog5{
    width: 210px;
    height: 120px;
  }
  .image-blog6{
    width: 210px;
    height: 120px;
  }
  .button{
    height: 25px;
    width: 70px;
    font-size: 9px;
    margin-top: 15px;
    border-radius: 6px;
  }  
  .inner-blog h2{
    font-size: 15px;
  }
  .inner-blog p{
    font-size: 10px;
  }
}
@media only screen and (max-width:445px){
  .footer-container{
    height: 200px;
    padding-top: 30px;
  }
  .footer-button input{
    height: 28px;
    width: 70%;
    border-radius: 4px;
    font-size: 10px;
  }
  .footer-button button{
    height: 28px;
    width: 30%;
    border-radius: 4px;
    font-size: 9px;
  }
  .inner-footer h3 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .inner-footer ul li {
    font-size: 12px;
    padding-top: 6px;
  }
}
@media only screen and (max-width:395px){
  .footer-container{
    height: 230px;
    padding-top: 20px;
  }
}
@media only screen and (max-width:364px){
  .footer-container{
    height: 280px;
    padding-top: 15px;
  }
}
@media only screen and (max-width:320px){
  header {
    padding-left: 18px;
    padding-right: 16px;
  }
  header .logo {
    font-size: 15px;
  }
  .navbar a{
    font-size: 10px;
    margin-left: 16px;  
  }
  .outer-hero{
    height: 260px;
  }
  #heading-para{
    font-size: 7.4px; 
  }
  #heading-hero{
    font-size: 20px;
  }
  .cv {
    height: 20px;
    width: 75px;
    font-size: 8px;
    font-weight: 400;
    border-radius: 6px;
  }
  .outer-blog {
    height: 1850px;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .inner-blog{
    height: 280px;
    width:  230px;
  }
  .image-blog1{
    width: 180px;
    height: 90px;
  }
  .image-blog2{
    width: 180px;
    height: 90px;
  }
  .image-blog3{
    width: 180px;
    height: 90px;
  }
  .image-blog4{
    width: 180px;
    height: 90px;
  }
  .image-blog5{
    width: 180px;
    height: 90px;
  }
  .image-blog6{
    width: 180px;
    height: 90px;
  }
  .button{
    height: 23px;
    width: 60px;
    font-size: 8px;
    margin-top: 15px;
    border-radius: 6px;
  }  
  .inner-blog h2{
    font-size: 14px;
  }
  .inner-blog p{
    font-size: 9.3px;
  }
}